.buttonDark {
    background-color: rgb(77, 68, 181);
    border-radius: 40px;
    border: none;
    padding: 10px 24px ;
    color: rgb(238, 238, 238);
    font-family: "Poppins-Regular-400";
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    border: 2px solid rgb(77, 68, 181);

}
.buttonDark:hover {
    border: 2px solid rgb(77, 68, 181);
    color: rgb(77, 68, 181);
    background-color: rgb(238, 238, 238);
}